/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{margin:5px; width: auto; height: auto;}

 div.flash_msgs {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
 }

/* nav  */

 .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;  
 }

 .sidenav ul {
     padding: 10px;
 }

 .sidenav a { 
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Pacifico', cursive;
  }

  li.logout { 
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Pacifico', cursive;
  }

  .sidenav a:hover {
  color: #f1f1f1;
}

/* Main page */

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    height: auto;
  }

div.home_page_services {
    height: 413px;
    width: 1105px;
    border-style: solid;
}

p.services_title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin: 15px;
}

p.home_signup {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 5px;
}

figure.services_list {
    float:left;
    margin: 40px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

div.services {
    margin-left: 100px;
}

img.services_icon {
    align-items: center;
}

img.services_iconhb {
    align-items: center;
    padding-left: 30px;
}

/* Sign up page */

div.signup_form {
    height: auto;
    width: 600px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Pacifico', cursive;
    padding: 20px;
    border-style: solid
}

p.signup {
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
}

form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

[type="submit"]:hover {
    opacity: 0.5;
}

p.or {
    text-align: center;
    margin: 5px;
}

label {
    font-size: 20px;
}

div.google_login {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: lightgrey;
  position: relative;
  height: 41px;
}

div.google_login:hover {
    opacity: 0.5;
}

div.google_login a {
    text-decoration: none;
}

div.google_login a:visited {
    text-decoration: none;
}

div.google_login i {
    font-size: 25px;
    position: absolute;
    left: 340px;
    top: 5px;
}

div.google_login a {
    display: inline-block;        
    z-index: 1; 
    padding: 2em; 
    padding-left: 18em; 
    padding-right: 18em;   
    margin: -1em;
}

#error_explanation {
    font-size: 15px;
    color: red;
}

div.field_with_errors input {
    border-color: red;
}

/* Profile page */

div.user_profile {
    border: solid;
    border-color: black;
    height: auto;
    width: 600px;
    text-align: center;
    border-radius: 25px;
}

p.your_profile {
    padding-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

div.user_profile img {
    border-radius: 50%;
    height: 100px;
    width: auto;
    margin-left: 20px;
    border: solid;
}

p.profile_detail {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

div.user_profile a {
    text-decoration: none;
    color: black;
}

div.user_profile i {
        margin-bottom: 20px;
}

/* Edit Profile page */

div.edit_profile {
    height: auto;
    width: 600px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Pacifico', cursive;
    padding: 20px;
    border-style: solid

}

div.login_form {
    height: auto;
    width: 600px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Pacifico', cursive;
    padding: 20px;
    border-style: solid
}